.SearchBar_Container{
    margin:auto;
    flex-grow:2;
    display:flex;
    height: 2rem;
}
.SearchBar_Container2{
    margin:auto;
}

.iBox_SearchBar{
    background-color:white;
    width:30rem;
    border:1px solid rgb(128,128,128,0.4);
    color:black;
    font-size:large;
    padding:0.2rem;
    height: 2rem;
    padding-left:2rem;


}
.search_div{
    margin:auto;
    display:flex;
    position:relative;
    z-index:91;
}

.SearchIcon{
    cursor: pointer;
    padding : 0.75rem;
    width: 2rem;
    border-radius: 0.1rem;
    background-color:rgb(33,33,33);
    color:aliceblue;

}

.SearchIcon:hover{
    background-color:black;
}