.video_showvideo{
    cursor: pointer;
    margin: 0.4rem;
    margin-bottom: 0;
    width: calc(100% - 0.8rem);
    height: 70%;
    border: 1px solid rgba(128,128,128,0.532);
}
.video_description{
    display: flex;
    height: 4rem;
    margin: auto auto;

     

}

.video_details{
    width: 80%;
    height: fit-content;
    padding: 0.1rem;
    margin: 0.1rem;
    color: aliceblue;
     
      



    
}
.title_video_ShowVideo{
   margin:0;
   text-align:clip;
   font-weight:bold;
   font-size:small;
   color: antiquewhite;
   display:flex;
}
.upload_time{
    font-size: small;
    color: rgba(250,235,215,0.555);
    margin: 0.2rem;
    display:flex;


}
.dot{
    height:4px;
    width:4px;
    border-radius: 100%;
    background-color: white ;
    margin:auto 0.5rem;

}