*{
    font-family:Roboto;
}

.Container_navbar{
    border: solid 1px black;
    display:flex;
    height:calc(3.5rem-5px);
    background-color:rgb(33,33,33);
    justify-content:space-between;
}
.logo{
    height:3.3rem;
    width:70px;
}
.Burger_logo_navbar{
    display:flex;
    justify-content: space-between;
}
.burger{
    display:flex;
    flex-direction:column;
    cursor:pointer;
    justify-content:space-evenly;
    margin: 0.2rem;
    padding:0.5rem;
    border:solid 1px transparent;
    border-radius: 100%;
    margin-left:0.5rem;
    margin-right:0.7rem;
}
.burger p{
    height:0.1rem;
    width:1.2rem;
    margin:0.5px;
    background-color:white;
}
.logo_navbar{
    display:flex;
}
.logo_title_navbar{
    margin:auto;
    color:white;
    font-weight:bold;
}
.apps_box{
    height:25px;
    width:25px;
    margin: auto 0.7rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.appBox{
    height:2px;
    width:2px;
    border: 1px solid white;
    margin:0.1rem;
}
.Auth_cont_Navbar{
    width:fit-content;
    margin:auto 0.5rem;
    position:inherit;
    display:flex;
}
.Auth_Btn{
    cursor:pointer;
    color:#3ea6ff;
    background-color:rgb(36,36,36);
    padding:0.5rem;
    border-radius:0.1rem;
    margin:0:

}
.channel_logo_app{
    height:2.2rem;
    width:2.2rem;
    background-color:rgb(224,227,214);
    border-radius:100%;
    display:flex;
}
.fstChar_logo_app{
   margin:auto;
   color:black;
   font-weight:bold;
   cursor:pointer;
}