.container_videoPage{
    height:100%;
    over-flow-y:auto;
    background-color:rgb(11,11,11);
    color:white;

}
.container2_videoPage{
    display:flex;
    /* margin: 1.5rem 4.5rem; */

}
.video_display_screen_videoPage{
   width:calc(100vw-4.5rem-35vw);
   padding:1rem;
}
.video_showVideo_videoPage{
   padding: 0.1rem;
   height: 70vh;
   width: 100%;
   background-color:;
   border: 1px solid rgba(37,37,37,0.2);
}

.video_btns_title_videoPage_cont{
    border-bottom: 3px solid rgba(245,222,179,0.175);
    flex-grow:1;

}
.video_title_videoPage{
    font-size: x-large;
    padding: 1rem 0.8rem;
    margin:0;
}
.video_date_btns_videoPage{
    display:flex;
    margin: 0.5rem 1rem;
    width: calc(100vw-6.5rem-35vw);
}
.views_videoPage{
    display: flex;
    font-size: 0.8rem;
    flex-grow:1;
    align-items:center;

}

.channel_details_videoPage{
   display: flex;
   border-bottom: 3px solid rgba(245,222,179,0.175);
   text-decoration: none;
   color:aliceblue;
   font-weight: bolder;
}

.channel_logo_video_page{
    display:flex;
    border: 1px solid rgba(0,0,0,0.19);
    height: 4rem;
    width: 4rem;
    background-color: rgba(255,255,255,0.667);
    border-radius: 100%;
    margin: 0.4rem;
}
.channel_logo_video_page p{
    margin:auto;
    font-size: xx-large;
    color:black;
}
.channel_name_videoPage{
    font-weight: bolder;
    margin: auto 1rem;
    font-size: larger;

}
.comments_videoPage{
  width:100%;
  padding-inline-start: 0.5rem;
}
.more_videoBar_videoPage{
   margin-top : 2rem;
   width:calc(100vw-4.5rem-70vw);
   padding:0 1rem;
}